<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>FleeMa // Fahrzeuge // Bearbeiten</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= stylesheet_link_tag "bootstrap.min.css", media: "screen" %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,600;0,800;1,200;1,400&display=swap"
    rel="stylesheet">
  <%= stylesheet_link_tag "style", media: "screen" %>
  <%= stylesheet_link_tag href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>
</head>

<body id="">
<!--<div id="header"></div>-->
<div class="container">
  <div class="row ">
    <div class="col-md-12 col-sm-12">
      <div class="content p-3">
        <h1>DOKUMENT AUSWÄHLEN</h1>
        <div class="row">
          <div class="col-lg-9 col-md-6 col-sm-12">
            <h5 class="color-primary mt-3 mb-2"> LISTEN</h5>
            <div class="row row-cols-1  row-cols-md-2 row-cols-lg-5  g-4 grids-cards mb-5">
              <div class="col">
                <div class="card h-100 shadow-sm text-center">
                  <div class="card-body">
                    <div class="card-text">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <h5 class="card-title color-primary">
                      <a href="kundenliste"
                         class="stretched-link">Kundenliste</a>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100 shadow-sm text-center">
                  <div class="card-body">
                    <div class="card-text">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <h5 class="card-title color-primary">
                      <a href="bestand"
                         class="stretched-link">Bestandsliste</a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <h5 class="color-primary mt-3"> GESCHÄFTS-DOKUMENTE
            </h5>
            <div class="row row-cols-1  row-cols-md-2 row-cols-lg-5  g-4 grids-cards mb-5">
              <div class="col">
                <div class="card h-100 shadow-sm text-center">
                  <div class="card-body">
                    <div class="card-text">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <h5 class="card-title color-primary">
                      <a href="probefahrt"
                         class="stretched-link">Probefahrt</a>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100 shadow-sm text-center">
                  <div class="card-body">
                    <div class="card-text">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <h5 class="card-title color-primary">
                      <a href="angebot" class="stretched-link">Angebot</a>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100 shadow-sm text-center">
                  <div class="card-body">
                    <div class="card-text">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <h5 class="card-title color-primary">
                      <a href="kaufvertrag"
                         class="stretched-link">Kaufvertrag</a>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100 shadow-sm text-center">
                  <div class="card-body">
                    <div class="card-text">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <h5 class="card-title color-primary">
                      <a href="rechnung" class="stretched-link">Rechnung</a>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100 shadow-sm text-center">
                  <div class="card-body">
                    <div class="card-text">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <h5 class="card-title color-primary">
                      <a href="lieferschein"
                         class="stretched-link">Lieferschein</a>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100 shadow-sm text-center">
                  <div class="card-body">
                    <div class="card-text">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <h5 class="card-title color-primary">
                      <a href="<%= asset_path 'kaufvertrag.pdf' %>" class="stretched-link">Ankaufvertrag</a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <h5 class="color-primary mt-3"> VERTRIEBS-DOKUMENTE
            </h5>
            <div class="row row-cols-1  row-cols-md-2 row-cols-lg-5  g-4 grids-cards mb-5">
              <div class="col">
                <div class="card h-100 shadow-sm text-center">
                  <div class="card-body">
                    <div class="card-text">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <h5 class="card-title color-primary">
                      <a href="preisschild"
                         class="stretched-link">Preisschild</a>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100 shadow-sm text-center">
                  <div class="card-body">
                    <div class="card-text">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <h5 class="card-title color-primary">
                      <a href="handzettel" class="stretched-link">Handzettel</a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="accordion auswahlen-accordion">
              <div class="accordion-box">
                <button class="headding" data-toggle="collapse" data-target="#collapse"
                        aria-expanded="true" aria-controls="collapse">
                  <span class="icon"></span>Hinweis
                </button>
                <div class="card-text collapse show" id="collapse">
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <p class="mb-3">Bitte überprüfen Sie die erstellten Dokumente nach dem Ausdruck auf ihre
                        Richtigkeit und
                        Vollständigkeit. mobile.de übernimmt keine Haftung für Richtigkeit und Vollständigkeit
                        der erstellten Dokumente. mobile.de übernimmt auch keine Haftung für die Aktualität und
                        rechtliche Richtigkeit der zur Verfügung gestellten Dokumente oder einzelner darin
                        enthaltenen Formulierungen. Insbesondere übernimmt mobile.de keine Haftung dafür, dass
                        die Dokumente oder einzelne darin enthaltene Formulierungen aufgrund neuer gerichtlicher
                        Entscheidungen einer gerichtlichen Prüfung standhalten.
                      </p>
                      <p>Einige Dokumenttypen (z. B. verbindliche Bestellung / Kaufvertrag) können bei Versand auf
                        elektronischem Weg (Fax, E-Mail) u. U. dazu führen, dass das Fernabsatzrecht Geltung
                        findet. Dies hat weitreichende rechtliche Konsequenzen, z. B. müssen Sie den Käufer
                        gegebenenfalls über sein Widerrufsrecht belehren. Ausführliche Informationen zu den
                        Pflichten gewerblicher Verkäufer nach dem Fernabsatzrecht finden Sie z. B. auf dem
                        eBay-Rechtsportal.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div id="footer"></div>-->

<a href="#top" id="scrollUp" class="orange-color">
  <i class="fa fa-angle-up"></i>
</a>
<div id="carmodelpopup"></div>
<div id="carmodelpopup_two"></div>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js",
                           integrity: "", crossorigin: "anonymous" %>
<%= javascript_include_tag "popper.min.js", integrity: "", crossorigin: "anonymous" %>
<%= javascript_include_tag "bootstrap.min.js", integrity: "", crossorigin: "anonymous" %>
<%= javascript_include_tag "bootstrap.bundle.min.js", integrity: "", crossorigin: "anonymous" %>
<%= javascript_include_tag "js.js"%>


</body>

</html>