<%= form_with model: @car do |form| %>
<div class="modal fade hinzufugen-modal" id="cardetails" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">FAHRZEUG HINZUFUGEN</h6>
        <i class="fa fa-times btn-close" data-bs-dismiss="modal" aria-label="Close" aria-hidden="true"></i>
      </div>
      <div class="modal-body">
        <div class="row mb-5 first-row">
          <div class="col-lg-4 col-md-12 col-sm-12 border-end border-1">
            <div class="d-block d-lg-flex">
              <a href="#" class="d-block text-decoration-none w-50  pt-2">
                <i class="fa fa-car icon-bg ms-4" aria-hidden="true"></i>
                <h6 class="color-primary  ms-1 mt-2">Gebraucht</h6>
              </a>
              <div class="w-100 ms-3">
                <select class="form-select bg-light mt-4" aria-label="Default select example">
                  <option value="USED" selected="selected">Gebraucht</option>
                  <option value="ONE_DAY_REGISTRATION">Tageszulassung</option>
                  <option value="ONE_YEAR_REGISTRATION">Jahreswagen</option>
                  <option value="DEMONSTRATION">Vorführfahrzeug</option>
                  <option value="OLDTIMER">Oldtimer</option>
                </select>
              </div>
            </div>
            <div class="d-block d-lg-flex">
              <a href="#" class="d-block text-decoration-none w-50  pt-2">
                <i class="fa fa-car icon-bg ms-4" aria-hidden="true"></i>
                <h6 class="color-primary  ms-1 mt-2">Neu</h6>
              </a>
              <div class="ms-3">
                <label class="d-block">
                  Erstzulassung *
                </label>
                <%= form.date_field :Erstzulassung, class:"bg-light p-1 border border-secondary",value: ""%>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 border-end border-1">
            <div class="w-100 mb-3">
              <label class="d-block">
                FIN
              </label>
              <input type="text" class="bg-light p-1 w-100 border border-secondary" value=""
                     placeholder=" " />
            </div>
           <option value="">
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 border-end border-1">
            <div class="">
              <label class="d-block">
                Marke *
              </label>
              <%= form.select :marke, ["Marke auswählen", "Abarth", "AC", "Acura", "Aixam", "Alfa Romeo", "ALPINA", "Artega", "Asia Motors", "Aston Martin", "Audi", "Austin", "Austin Healey", "BAIC", "Bentley", "BMW", "Borgward", "Brilliance", "Bugatti", "Buick", "Cadillac", "Casalini", "Caterham", "Chatenet", "Chevrolet", "Chrysler", "Citroën", "Cobra", "Corvette", "Cupra", "Dacia", "Daewoo", "Daihatsu", "DeTomaso", "DFSK", "Dodge", "Donkervoort", "DS Automobiles", "Ferrari", "Fiat", "Fisker", "Ford", "GAC Gonow", "Gemballa", "GMC", "Grecav", "Hamann", "Holden", "Honda", "Hummer", "Hyundai", "Infiniti", "Isuzu", "Iveco", "Jaguar", "Jeep", "Kia", "Koenigsegg", "KTM", "Lada", "Lamborghini", "Lancia", "Land Rover", "Landwind", "Lexus", "Ligier", "Lincoln", "Lotus", "Mahindra", "Maserati", "Maybach", "Mazda", "McLaren", "Mercedes-Benz", "MG", "Microcar", "MINI", "Mitsubishi", "Morgan", "Nissan", "NSU", "Oldsmobile", "Opel", "Pagani", "Peugeot", "Piaggio", "Plymouth", "Polestar", "Pontiac", "Porsche", "Proton", "Renault", "Rolls-Royce", "Rover", "Ruf", "Saab", "Santana", "Seat", "Skoda", "Smart", "speedART", "Spyker", "Ssangyong", "Subaru", "Suzuki", "Talbot", "Tata", "TECHART", "Tesla", "Toyota", "Trabant", "Triumph", "TVR", "Volkswagen", "Volvo", "Wartburg", "Westfield", "Wiesmann", "Andere"],
                              {}, { id:"marke-select", class: "form-select bg-light", aria: {label: "Default select example"}}%>
            </div>
            <div class="mt-3">
              <label class="d-block" >
                Model *
              </label>
              <%= form.select :Model, ["Modell auswählen", "100", "200", "80", "90", "A1", "A2", "A3", "A4", "A4 Allroad", "A5", "A6", "A6 Allroad", "A7", "A8", "Cabriolet", "Coupé", "e-tron", "Q1", "Q2", "Q3", "Q5", "Q7", "Q8", "quattro", "R8", "RS2", "RS3", "RS4", "RS5", "RS6", "RS7", "RSQ3", "RSQ8", "S1", "S2", "S3", "S4", "S5", "S6", "S7", "S8", "SQ2", "SQ5", "SQ7", "SQ8", "TT", "TT RS", "TTS", "V8", "Andere"],
                              {}, {id:"model-select", class: "form-select bg-light", aria: {label: "Default select example"}}%>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="w-100 mb-3">
              <label class="d-block">
                HSN
              </label>
              <input type="text" class="bg-light p-1 w-100 border border-secondary" value=""
                     placeholder=" " />
            </div>
            <div class="w-100 mb-3">
              <label class="d-block">
                TSN
              </label>
              <input type="text" class="bg-light p-1 w-100 border border-secondary" value=""
                     placeholder=" " />
            </div>
          </div>
        </div>
        <!-- <div class="row mb-3">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="me-3">
                    <label class="d-block">
                        Kategorie
                    </label>
                    <select class="form-select bg-light" aria-label="Default select example">
                        <option value="" selected="selected"> Kategorie auswahlen</option>
                        <option value="Kategorie auswahlen">Kategorie auswahlen</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="me-3">
                    <label class="d-block">
                        Motoract
                    </label>
                    <select class="form-select bg-light" aria-label="Default select example">
                        <option value="" selected="selected"> Motoract auswahlen</option>
                        <option value="Motoract auswahlen">Motoract auswahlen</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="me-3">
                    <label class="d-block">
                        Kraftstoffart
                    </label>
                    <select class="form-select bg-light" aria-label="Default select example">
                        <option value="" selected="selected"> Kraftstoffart auswahlen</option>
                        <option value="Kraftstoffart auswahlen">Kraftstoffart auswahlen</option>
                    </select>
                </div>
            </div>
        </div> -->
        <p class="mb-0">Wählen Sie ein Modell aus dem Katalog aus, um die passende Modellvarlante zu finden
        </p>
        <div class="table-responsive">
          <table class="table my_table w-100">
            <tr>
              <th>Modell</th>
              <th>Produktlonseltraum</th>
            </tr>
            <CAPTION> Es gibt keine Modelle, die Ihren Suchkriterien entsprechen </CAPTION>
            <tr class="car-1" style="display: none">
              <td>A8 3.0 TDI DPF quattro</td>
              <td>2005-2007</td>
            </tr>
            <tr class="car-1" style="display: none">
              <td>A8 3.2 FSI</td>
              <td>2005-2007</td>
            </tr>
            <tr class="car-1" style="display: none">
              <td>A8 3.7 quattro</td>
              <td>2005-2006</td>
            </tr>
            <tr class="car-1" style="display: none">
              <td>A8 4.0 TDI quattro</td>
              <td>2005-2005</td>
            </tr>
            <tr class="car-1" style="display: none">
              <td>A8 4.2 FSI quattro</td>
              <td>2006-2007</td>
            </tr>
            <tr class="car-1" style="display: none">
              <td>A8 4.2 quattro Langversion</td>
              <td>2005-2006</td>
            </tr>
          </table>
        </div>
        <p class="mb-0">
          Wahlen Sle elne Modellvarlante
        </p>
        <div class="table-responsive">
          <table class="table my_table w-100" id="car_models">
            <tr>
              <th>Modellvarlante</th>
              <th>Brutto Neuprels</th>
              <th>Produktlonszeltraum</th>
            </tr>
            <CAPTION> Es gibt keine Modelle, die Ihren Suchkriterien entsprechen
            </CAPTION>
            <tr class="car-1" style="display: none">
              <td>A8 3.0 TDI DPF quattro 4 Türen (233 PS/171 kW)
              </td>
              <td>65.650</td>
              <td>3/2005-8/2007-</td>
            </tr>
            <tr class="car-1" style="display: none">
              <td>A8 3.2 FSI 4 Türen (260 PS/191 kW)
              </td>
              <td>145.800</td>
              <td>1/2014-</td>
            </tr>
            <tr class="car-1" style="display: none">
              <td>A8 3.7 quattro 4 Türen (280 PS/206 kW)
              </td>
              <td>69.300</td>
              <td>3/2005-4/2006</td>
            </tr>
            <tr class="car-1" style="display: none">
              <td>A8 4.0 TDI quattro 4 Türen (275 PS/202 kW)
              </td>
              <td>78.200</td>
              <td>3/2005-6/2005</td>
            </tr>
            <tr class="car-1" style="display: none">
              <td>A8 4.2 FSI quattro 4 Türen (350 PS/257 kW)
              </td>
              <td>78.700</td>
              <td>4/2006-8/2007</td>
            </tr>
            <tr class="car-1" style="display: none">
              <td>A8 4.2 quattro Langversion 4 Türen (334 PS/246 kW)
              </td>
              <td>81.700</td>
              <td>3/2005-4/2006</td>
            </tr>
          </table>
          <%= form.hidden_field :car_model_value, value: ''  %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-pencil d-block"
                                                                                   aria-hidden="true"></i>
          Manuelle Eingabe</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
          class="fa fa-arrow-left d-block" aria-hidden="true"></i>
          Zurück</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
          class="fa fa-times-circle-o d-block" aria-hidden="true"></i>
          Abbrechen</button>
        <%= button_tag( :class => "btn btn-secondary") do %>
          <i class="fa fa-arrow-right d-bloc" aria-hidden="true"></i>
          OK
        <% end %>
<!--        <a href="bearbeiten" class="btn btn-secondary"><i class="fa fa-arrow-right d-block"-->
<!--                                                                         aria-hidden="true"></i>-->
<!--          OK</a>-->
      </div>
    </div>
  </div>
</div>
  <% end %>

<script type="text/javascript">
    $("#model-select").change(function() {
        console.log("Yes");
        $('.car-1').show();
    });

    $( "#model-select" )
        .change(function () {
            var str = "";
            $( "#model-select option:selected" ).each(function() {
                str += $( this ).text() + " ";
            });
            alert( str );
        });

    $("#car_models tr").click(function(){
        $(this).addClass('tr-active').siblings().removeClass('tr-active');
        var value=$(this).find('td:first').html();
        document.getElementById('car_model_value').value = value;
    });

    // $(document).ready(function() {
        //     $("#marke-select").on('change', function(){
        //         $.ajax({
        //             url: "/fetch_models",
        //             type: "GET",
        //             data: {state: $(this).val()},
        //             success: function(data) {
        //                 $("#model-select").children().remove();
        //                 // Create options and append to the list
        //                 var listitems = [];
        //                 $.each(data,function(key, value) {
        //                     listitems += '<option value="' + key+ '">' + value + '</option>';    });
        //                 $("#model-select").append(listitems);
        //                 console.log(listitems);
        //             }
        //         })
        //     });
        // });
</script>

